/* styles.css */
/* Estilos básicos para o layout */

* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 15px;
}

h2 {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #007bff, 0 0 20px #007bff, 0 0 25px #007bff, 0 0 30px #007bff, 0 0 35px #007bff;
    text-decoration: underline;
    text-decoration-color: #007bff;
}

.agenda, .pomodoro, .calendario {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    background-color: #f9f9f9;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

td {
    cursor: pointer;
}

td:hover {
    background-color: #e6e6e6;
}

.today {
    background-color: #ffcc00;
}

/* Paleta de cores sugerida */
.agenda, .pomodoro, .calendario {
    background-color: #AED9E0; /* Azul Claro */
}

h2 {
    color: #333; /* Preto */
    text-shadow: none;
}

button {
    background-color: #C9E2C9; /* Verde Suave */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #333; /* Preto */
}

button:hover {
    background-color: #a0d8a8; /* Verde Suave mais escuro */
}

table {
    border: 1px solid #ccc; /* Cinza Claro */
}

th, td {
    border: 1px solid #ccc; /* Cinza Claro */
}

th {
    background-color: #f2f2f2; /* Cinza Mais Claro */
}
